body {
  font-family: Arial;
}

h1 {
  text-align: center;
}

table, th, td {
  border:1px solid black;
}

.headerRow {
  background-color: lightblue;
}

#task-abstraction {
  padding-top: 100px;
  text-align: center;
}

.columns {
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
}

#decoration {
  padding-top: 100px;
  display: flex;
}

#circle {
  opacity: 50%;  
}

#circle:hover {
  stroke: black;
  stroke-width: 5px;
}

#rect {
  fill: blue;
  stroke:black; 
  stroke-width: 10px;
}
#rect:hover {
  fill: orange;
}

#acknowledgments {
  padding-top: 100px;
  text-align: center;
}


